p{
	margin: 0;
	padding: 0;
	display: inline-block;
}
a{
	text-decoration: none;
}
select,input{
	border: none;
	outline: none;
}

/* #top 模块内样式 */
.top {
	line-height: 30px;
	font-size: 13px;
	color: #868686;
}

.top .call{
	float: left;
	padding-left: 20px;
	background: url(../img/icon-call.png) no-repeat center left;
}

.top .welcome{
	float: right;
}

.top a{
	color: #2da5e1;
	padding-left: 10px;
}

/* #header 模块内样式 */

.header .logo{
	width: 402px;
	height: 74px;
	padding: 9px 0;
	display: inline-block;
}
.header .logo img{
	width: 100%;
	height: 100%;
}
.header .search {
	width: 326px;
	height: 38px;
	position: absolute;
	right: 0px;
	top: 29px;
}
/* #nav 模块内样式 */
.nav .link{
	display: inline-block;
	float: left;
	padding-left: 30px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	min-width: 80px;
	text-align: center;
}
.nav .link_focus{
	color: #fff;
	background-color: #1fa4f0;
	padding: 0 20px;
}
.nav a:hover{
	color: #d7f3ff;
}

.nav .menu{
	width: 130px;
	padding-right: 30px;
	background-color: #1fa4f0;
	position: relative;
}
/*banner内样式*/
.banner-nav{
	width: 100%;
	height: 34px;
	font-size: 16px;
	border-bottom: 1px solid #dcdddd;
}
.banner-nav a{
	margin-left: 12px;
	font-size: 12px;
	color: #f29600;
}
.banner-nav a:hover{
	color: #60bff2;
}
.banner-nav p{
	float: right;
	font-size: 10px;
	margin-top: 5px;
}
.banner-nav p span{
	color: #0000ff;
}
.banner-content{
	margin-top: 12px;
	position: relative;
}
.banner-content div{
	width: 455px;
	height: 170px;
	position: absolute;
	left: 224px;
	top: 0;
	font-size: 12px;
	color: #888;
}
.banner-content div p{
	margin-bottom: 18px;
	padding-left: 32px;
	background: url(../img/icon-web.png) no-repeat;
}
.banner-content div .line2{
	background-position: 0px -22px;
}
.banner-content div .line3{
	background-position: 0px -44px;
}
.banner-content div p:last-child{
	background-position: 0px -65px;
}
/*content部分样式*/
.content-nav{
	font-size: 14px;
	text-indent: 10px;
}
.content-nav a{
	font-size: 12px;
	margin-left: 17px;
	color: #00b3ec;
}
.content__department-detail{
    height: 388px;
    border: 1px solid #dcdddd;
    font-size: 12px;
	margin-top: 18px;
}
.content__time-table{
    width: 729px;
    height: 323px;
    float: left;
}
.content__table-left{
    height: 323px; 
    width: 34px;
    float: left;
	border-right: 1px solid #dcdddd;
}
.content__table-leftBtn{
    height: 44px;
    width: 35px;
    display: block;
    background: url(../img/icon-scheduling-left.jpg) no-repeat center center;
}
.content__table-leftItem{
    height: 93px;
    line-height: 93px;
    width: 35px;
    background-color: #f2f8ff;
    text-align: center;
}
.content__table-right{
	height: 323px;
	width: 35px;
	float: right;
}
.content__table-rightBtn{
	height: 44px;
	width: 35px;
	display: block;
	background: url(../img/icon-scheduling-right.jpg) no-repeat center center;
}
.content__table-middle{
    height: 323px;
    width: 657px;
    float: left;
    position: relative;
	overflow: hidden;
}
.content__middle-weekItem{
	width: 99999px;
    height: 325px;
    position: absolute;
    top: 0;
    left: -1px;
}
.content__middle-dayItem{
    border-left: 1px solid #dcdddd;
    float: left;
}
.content__dayItem-time{
    height: 44px;
    line-height: 22px;
    width: 93px;
    text-align: center;
}
.content__dayItem-blank{
    height: 92px;
    width: 93px;
    border-top: 1px solid #dcdddd;
}
.content__dayItem-full{
    height: 92px;
    line-height: 92px;
    width: 93px;
    background-color: #e0eefd;
    text-align: center;
    border-top: 1px solid #dcdddd;
}
.content__table-right{
    height: 323px;
    width: 35px;
    float: left;
    border-right: 1px solid #dcdddd;
    border-left: 1px solid #dcdddd;
}
.content__table-rightBtn{
    height: 44px;
    width: 35px;
    display: block;
    background: url(../img/icon-scheduling-right.jpg) no-repeat center center;
}
.contenmt__table-rightBlank{
    height: 279px;
    background-color: #f2f8ff;
}
.content__table-rules{
    height: 323px;
    width: 268px;
    float: left;
    overflow: auto;
}
.content__table-rulesTitle{
    font-size: 16px;
    padding: 20px 0 0 10px;
}
.content__table-rulesText{
    line-height: 20px;
    padding-left: 10px; 
}
.content__table-treatmentDate{
    height: 64px;
    line-height: 64px;
    width: 998px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #9f9f9f;
    background: url(../img/icon-info.jpg) no-repeat 410px center;
    border-top: 1px solid #dcdddd;
}
.content-order-rule-con{
	width: 160px;
	height: 311px;
	padding:11px 90px 0px 11px;
	overflow: scroll;
	overflow-y: scroll;
	float: right;
}
.content-order-rule-con h1{
	font-size: 14px;
	font-weight: normal;
}
.content-order-rule-con p{
	font-size: 11px;
	color: #888;
}
.content-order-rule-con p span,.content-order-rule-con span{
	font-size: 12px;
	color: #555;
}
.content-choose{
	width: 100%;
	float: left;
	height: 65px;
	line-height: 65px;
	text-align: center;
	border-top: 1px solid #dcdddd;
	font-size: 14px;
	color: #9f9f9f;
}
.content-choose img{
	margin-right: 8px;
	vertical-align: middle;
}
/*脚部样式*/
.footer{
	line-height: 70px;
	text-align: center;
	font-size: 12px;
	color: #666;
}
/* 其他 */
.go-top{
  display: block;
  position: fixed;
  right: 2px;
  bottom: 2px;
  z-index: 9;
  width: 40px;
  height: 40px;
  color: #fff;
  background: rgb(102, 102, 102) url(../img/icon-go-up.png) center no-repeat;
}
.go-top:hover{
  background: rgb(102, 102, 102);
}
.go-top:hover:after{
  content: '回到顶部';
  display: block;
  line-height: 20px;
  text-align: center;
}


